/bin/
.classpath
.project
*.class
/.idea/
*.eml

TwitchRecover.iml
**/META-INF/**/*

out/
run.bat
lib/
tags

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
